.comp-section-02{
  .c-wrapper{
   margin: 0 auto;

  }
}
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {
  .comp-section-02{
    .c-wrapper{
      width: 1200px;
      display: flex;
      padding: 90px;

      .c-column-01{
        width: 400px;
        height: 400px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        border: 1px solid #373A37;
        padding: 32px;
        img{
          width: 100%;
        }
      }
      .c-column-02{
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 32px;

        .c-item-01{
          margin-bottom: 12px;
          font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          color: #373A37;

        }
        .c-item-02{
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 150%;
          color: #7D8285;


        }
      }
    }
  }
}

@media (max-width: 950px) {
  .comp-section-02{
    .c-wrapper{
      width: calc(100% - 40px);

    }
  }
}